:root {
  --color-calendar-graph-day-bg: #161b22;
  --color-calendar-graph-day-border: rgba(27, 31, 35, 0.06);
  --color-calendar-graph-day-L1-bg: #0e4429;
  --color-calendar-graph-day-L2-bg: #006d32;
  --color-calendar-graph-day-L3-bg: #26a641;
  --color-calendar-graph-day-L4-bg: #39d353;
  --color-calendar-graph-day-L1-border: rgba(255, 255, 255, 0.05);
  --color-calendar-graph-day-L2-border: rgba(255, 255, 255, 0.05);
  --color-calendar-graph-day-L3-border: rgba(255, 255, 255, 0.05);
  --color-calendar-graph-day-L4-border: rgba(255, 255, 255, 0.05);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

body {
  color: #ffffff !important;
  background: #333333 !important;
}

a {
  color: #39d353 !important;
}
a:hover {
  opacity: 0.5 !important;
}